@model Link.Asp.Mvc.Models.People

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>People</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
